extends contact

block about
    div.container#about
        h2 About Me
        div(class='discription')
            p I'm a second year computer science student at Ryerson University. I am interested in web development and robotics and I'm currently working on 2D web game projects to strengthen my web development portfolio. I strongly believe we are living in the era of technology and with the help of technology, I can make your business. If you have any questions regarding what I can do for you or have a project in mind fell free to contact me anytime!


