extends layout

block scripts
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='/stylesheets/style.css' rel="stylesheet" type='text/css')
    link(href='/css/bootstrap.css'  type='text/css')
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    script(src='/js/jquery.min.js' type='text/javascript')
    script(src='/js/bootstrap.js' type='text/javascript')
