extends projects

block intro
    div(class='container-fluid intro text-center')
        img(src="/images/retinder.jpg")
        h1 Hi there, I'm #{title}
        h4 Web Developer - Specialising in front-end developer
        h4 Software Developer

