doctype html
html
  head
    title= title
    block scripts
  body
    p.development Website is currently under development
    block navigation
    block intro
    block projects
    block about
    block contact
    block content
    block footer
    footer
      p The web page is constructed using Pug, NodeJS, CSS, Bootstrap
