extends about

block projects
    div.container#projects
        div(class='container-fluid')
            h2 Projects
            div(class='row')
                div(class='col-sm-6')
                    h3 Ryerson University
                    ul
                        li Web Application
                        ul
                            li
                                a(class='link' href='http://ru-fighter.com/') RU-Fighter
                            li Weather web app - openweathermaps.org API for weather information
                            li TO DO
                            li Geo Location Services - Using Google Maps API
                div(class='col-sm-6')
                    h3 Ignite
                    p RPG based 2D game game (underdevelopment)