extends weatherInter

block toolbar
    div.toolbar
        button(type="button" onclick='cel()') &deg;C
        button(type="button" onclick='feh()') &deg;F
        button(type="button" onclick='kmh()') km/h
        button(type="button" onclick='mph()') mph