doctype html
html
    head
        title= title
        block scripts
    body
        block toolbar
        block leaderBoard
        block main-header
        block main-container
        block content
        block main-footer
